.container_outside {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: center; /* Center the content on smaller screens */
}

.total_login_container {
  height: auto; /* Remove fixed height */
  width: 100%; /* Make it full width */
  max-width: 740px; /* Set maximum width */
  margin: 30px auto; /* Center horizontally */
  padding: 20px;
  border: 1px solid #40ea81e2;
  border-radius: 5px;
  background-image: url("../assets/background.login.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.Login_button_home {
  background-color: rgba(57, 57, 214, 0.632);
  text-align: center;
  width: 100%; /* Make it full width */
  max-width: 310px; /* Set maximum width */
  padding: 9px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 0 auto; /* Center horizontally */
}

.email input,
.password input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
  width: 100%; /* Make it full width */
  max-width: 300px; /* Set maximum width */
  border: none;
}

.text-sm {
  font-size: 0.8rem;
}

.text_sm_text_white_text_center {
  margin-top: 40px;
  text-align: center;
  color: black; /* Center the text */
}

.email_password_login {
  margin-top: 200px;
  text-align: center; /* Center the content */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .total_login_container {
    padding: 10px;
    margin-top: 30px;
  }

  .Login_img img {
    max-width: 80%; /* Make the image responsive */
    height: auto;
  }

  .email_password_login {
    margin-top: 25px;
    margin-left: -60px;
  }
  .total_login_container{
    width: 300px;
    margin-top: 50px;
    color: #fff;
  }
  .total_login_container p{
    color: black;
  }
}

@media (max-width: 480px) {
  .email input,
  .password input {
    width: 100%; /* Make the inputs full width on smaller screens */
  }
}