.Chat_navbar1{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    height: 50px;
    position: fixed;
    z-index: 100; 
    
}
.logo{
    font-weight: bold;
    padding: 3px;
}
.user{
    display: flex;
    gap: 15px;
    margin-left: 40px;
    text-align: center;
}
.Chat_logout{
    background-color: rgba(102, 117, 234, 0.571);
    border-radius: 6px;
    height: 2vw;
    padding: 2px;
}