.chat_input{
    display: flex;
    padding: 5px;
    position: fixed;
    width: 760px;
    bottom: 20px;
    z-index: 1000;
}
.input_message{
    width: 50vw; 
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    font-weight: lighter;
    padding: 8px;
    margin: 4px;
    font-family: monospace;
    outline: none;
    border: none;
    font-size: 20px;
    &::placeholder{
        color: lightgray;
        padding: 3px;
    }
}
.sent_chat{
height: 39px;
padding: 8px;
align-items: center;
cursor: pointer;
margin: 4px;
text-align: center;
background-color: rgba(161, 161, 205, 0.756);

}
